.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
.pub-cache/
.vscode/
/build/
/ios/.symlinks/
/ios/Flutter/.last_build_id
/ios/Flutter/.packages
/ios/Flutter/Flutter.framework/
/ios/Flutter/Flutter.podspec
/ios/Flutter/app.framework/
/ios/Flutter/flutter_assets/
/android/.gradle/
/android/app/build/
/android/build/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/key.properties
/android/captures/
*.iml
*.lock
*.log
*.obj
*.pdb
*.suo
*.user
*.vssscc
*.vspscc
*.bak
*.swp
*~
.idea/
